img {
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contactBody {
    background-image: url(./images/building.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.portfolioBody {
    background-image: url(./images/building2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.indexBody {
    background-image: url(./images/laptop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/* img should be 1400px but should be 2x as big good sorce for pics is unsplash.com and photopea.com can help resize photos*/
hr {
    background: white;
}

.contact-form {
    background: rgba(0, 0, 0, .6);
    color: white;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px gray;
}

footer {
    background-color: #0275d8;
    padding: 30px;
    margin-top: 150px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

.img-thumbnail {
    /* float: left; */

}

.image-wrapper {
    text-align: center;
}